/* global css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: 'Roboto', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  /* Primary color */
  --primary: #5e3bee;
  /* use for title heading */
  --heading-color: #282938;

  --bg-shade: #f5fcff;
  --github: #24292e;
  --darkblue: #1c1e53;
  /* Basic */
  --black: #000000;
  --white: #ffffff;
}

.btn {
  font-family: "Roboto";
  font-size: 14px;
  display: inline-block;
  padding: 14px 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;

}

/* button Styling */
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

/*  */
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}


.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}



/* Main heaiding */

/* heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

/* heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* paragraph text large medium and small */
/* body */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

}

/* body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* section title */

.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.sub-title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* section title end*/

/* Global section end */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  background: var(--white);
  align-items: center;
  /* TODO fix the padding */
  padding: 15px 85.333px;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  display: flex;
  flex-wrap: nowrap;
}

.navbar-logo>img {
  display: flex;
  border-radius: 10px;
  width: 200px;
  max-height: 70px;
  min-width: 70px;
}

.navbar-items>ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}

.navbar-items>ul>li>a {
  text-decoration: none;
}

/* navbar content */
.navbar-content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar-active-content {
  color: var(--primary);
}

/* Navbar ends */

/* section title ends  */
/* * ------------------------------------------------------------------------ */

/* ! hero section */

.hero-section {
  min-height: 100vh;
  display: grid;
  /* margin-top: auto; */
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.33px 133.33px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero-section-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.33px;
}

.hero-section-content-box>button {
  margin-top: 21.33px;
}

.hero-section-title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;

}

.hero-section-title-color {
  color: var(--primary);
}

.hero-section-title-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-img>img {
  min-width: 300px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hero-section-button-group {
  /* border: 1px solid black; */
  display: flex;
  /* font-size: 16px; */
  gap: 20px;
  justify-content: space-between;
  align-items: center;

}

.social-icon>ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 26px;
  flex-shrink: 0;
}

.social-icon-a {
  color: var(--black);
}

.social-icon>ul>li:hover {
  transform: translateY(-2px);
}

/*? hero section style ends */

/* * ------------------------------------------------------------------------ */
/*! About section */
.about-section {
  display: grid;
  height: 100vh;
  padding: 133.3px 85.3px;
  align-items: center;
  justify-content: center;
  gap: 144.6px;
  grid-template-columns: repeat(2, 1fr);

}

.about-section-img>img {
  min-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 900px;
  border-radius: 20px;
}

/* ! add some styling here */
.about-section-description {
  text-align: justify;
}

/*? about ends  */

/* * ------------------------------------------------------------------------ */

/*! All skill section */
.allSkill-section {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  min-height: 100vh;
  /* height: 100vh; */
  padding: 120.3px 85.3px;
  /* padding: 40px 20px; */
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-shade);
}

/* .allSkill-section-main {
  border: 1px solid black;
} */

.innerSectContainer {
  max-width: 1000px;
  width: 95vw;
  padding: 0 auto;
  margin: 0 auto;
}

.sectTitle {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.skillGroupTitle {
  font-size: 1.2em;
  padding: 20px 0 10px;

  color: #444;
}

/* this is a grid that holds all the skill tab */
.skillGroup {
  display: grid;
  /* setting up the rows */
  grid-template-columns: repeat(auto-fit, minmax(120px, 140px));
  grid-gap: 15px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--primary);
  border-radius: 10px;
  background: var(--white);
}

.skillBox {
  padding: 5px;
}

/* hiding the description */
@media screen and (max-width: 465px) {
  .skillGroup {
    grid-template-columns: repeat(2, minmax(100px, 140px));
    /* width: 10px; */
  }

  .skillBox>p {
    display: none;
  }

}

.box.skillBox svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;

}

.box.skillBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 5px 15px var(--primary); */
}

/* ? skill section ends */
/* * ------------------------------------------------------------------------ */
/* !My protfolio */
.portfolio-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 112px 85px;
  gap: 80px;
  /* background: var(--bg-shade); */
}

.portfolio-container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

/** this contains the card */
.portfolio-section-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 400px));
  /* grid-template-columns: repeat(auto-fit, minmax(1, 140px)); */
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  gap: 21.3px;
}

.portfolio-section-img {
  border-radius: 8px;
  width: 100%;
}

.portfolio-section-img>img {
  width: 100%;
}

/* * card */
.portfolio-section-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
  height: 100%;
  gap: 32px;
  flex: 1;
  background: #fff;
  box-sizing: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.portfolio-section-card:hover {
  border-radius: 12px;
  transform: translateY(-5px);
  stroke: #006b6a;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-section-card-content {
  display: flex;
  padding: 32px;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  align-self: stretch;
}

.portfolio-section-title {
  color: var(--heading-color);
}

.portfolio-link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.66px;
  font-weight: 600;
}


.portfolio-link:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s ease-in-out;

}

/* ? Portfolio section ends */

/* * ------------------------------------------------------------------------ */

/*! Contact section */
.contact-section {
  display: flex;
  background: var(--bg-shade);
  min-height: 100vh;
  padding: 150px 85px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 64px;
  /* background: var(--bg-shade); */

}

.contact-form-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  row-gap: 32px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.6px;
  flex: 1 0 0;
  width: 100%;
}

.contact-input {
  display: flex;
  font-family: "Roboto";
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.33px solid var(--primary);
  background-color: var(--white);
}

.contact-message {
  display: flex;
  padding: 32px 0px;
}

/* ? contaction section ends */

/* * ------------------------------------------------------------------------ */
/* ! Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero-section-title {
    font-size: 68px;
    line-height: 70px;
  }

}

/* * ------------------------------------------------------------------------ */

/*! CSS for all section below 1200px */
@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }

  .hero-section-title,
  .about-section-description {
    text-align: center;
  }


  .skills-section-container,
  .about-section,
  .portfolio-container-box {
    display: flex;
    flex-direction: column;
  }

  .portfolio-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .portfolio-container,
  .hero-section-content,
  .hero-section-content-box {
    align-items: center;
  }

  .portfolio-container-box {
    gap: 30px;
  }

  .contact-section {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-section {
    /* ! change the padding after adding description */
    padding: 90px 80px 30px;
    align-items: center;
    gap: 20px;
    padding-bottom: auto;
    /* padding-top: 0;
    padding-bottom: 0; */
  }


  .hero-section-title,
  /* .skills-section-heading, */
  .sections-heading {
    font-size: 35px;
    line-height: 40px;
  }

  .hero-section-content-box {
    gap: 10px;
  }

  .contact-form-container {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .social-icon>ul {
    padding: 0;
    align-items: center;
  }

  /* .divider {
    margin: 20px;
  } */
}

/* Hamburger menu  */

.nav_hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 32px;
  right: 25px;
}

.nav_hamburger_line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

/* * CSS for hanmburger making everything small */
@media screen and (max-width: 1200px) {
  .nav_hamburger {
    display: flex;
    z-index: 200;
  }

  .navbar-items {
    display: flex;
  }

  .navbar-items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }

  .navbar-items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }

  .navbar-items ul li {
    text-align: center;
  }

  .navbar-items ul li a {
    padding: 0.5rem;
  }

  .navbar-items {
    z-index: -1000;
  }

  .navbar-items.active {
    top: 30px;
  }

  .nav_hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav_hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav_hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* ?Responsive Screens Ends*/
/* * ------------------------------------------------------------------------ */